body{
    background-color :#f3ecd1;
}
#Kevin{
  padding:90px;
  text-align:center;
  height:10cm;
  width:10cm;
}
#Miki{
  padding:90px;
  text-align:center;
  height:10cm;
  width:10cm;
}
#Áron{
  padding:90px;
  text-align:center;
  height:10cm;
  width:10cm;
}